
<div class="grid-container">
    <div class="row1">
        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div class="page-title"> {{title}} </div>
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="row feed-columns">
            <div class="col centered">
                <h4>Instagram Feed</h4>
                <div id="instafeed"></div>
            </div>
            <div class="col centered">Facebook Feed</div>
            <div class="col centered">Twitter Feed</div>
        </div>
    </div>
    <div class="row3">
        <div class="container-fluid">
            <div class="row">
                <div class="col"><span class="fa fa-instagram" title="Sync Instagram"></span></div>
                <div class="col"><span class="fa fa-facebook-official" title="Sync Facebook"></span></div>
                <div class="col"><span class="fa fa-twitter" title="Sync Twitter"></span></div>
                <!--https://dev.twitter.com/web/overview-->
            </div>
        </div>
    </div>
</div>
